<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<%= @latitude %>
<%= @longitude %>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { maxZoom : 15 }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @latitude %>,
          "lng": <%= @longitude %>,
          "marker_title": "<%= @infowindow %>"
        },
        <% @coords.each do |coord| %>
        {
          "lat": <%= coord[0] %>,
          "lng": <%= coord[1] %>,
        },
        <% end %>
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>
